.explain_node{
	position: relative;	
	width:250px;
}

.explain_node_text{
	overflow: hidden;
	position:absolute;
	background-color: #cccccc;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	float: left;
	margin-right:10px;
}

.resize_image{
	width:64px;
	height:64px;
	background-color: #333333;
}

