.explain_node{
	position: relative;	
	width:250px;
}

.explain_node_text{
	overflow: hidden;
	position:relative;
	background-color: #cccccc;
	border-radius: 10px;
	padding: 5px;
}

.resize_image{
	width:64px;
	height:64px;
	background-color: #333333;
}

